
# target (IP 대신 별칭 추천)
TARGET_HOST=webvm

# deploy
DEST_PATH=/usr/share/nginx/html/
SRC_FILE=./index.html

# health
HEALTH_URL=http://localhost:8080
HEALTH_KEYWORD=dongho

# docker
IMAGE_NAME="mini-nginx"
CONTAINER_NAME="mini-nginx"
HOST_PORT=8080
CONTAINER_PORT=80

